body, h2, div {
	font-family: 'Quicksand', sans-serif;
}

#navigation {
	margin-bottom: 0;
	padding: 10px;
	font-size: 120%;
}

#header {
	color: white;
}

/* #header-box {
	outline: white solid thick;
	width: 370px;
	padding: 30px;
	margin: auto;
} */

.box1 {
	background-position: center;
	min-height: 370px;
	position: relative;
	background-size: cover;
	padding: 70px;
}

.box2 {
	background-position: center;
	min-height: 600px;
	position: relative;
	background-size: cover;
	padding: 70px;
}

ul {
	list-style: none;
	padding-left: 0;
}

#statement-box {
	margin: auto;
	padding: 110px;
	color: white;
	line-height: 200%;
	font-weight: bold;
}

#contact-box {
	padding: 50px;
	font-size: 120%;

}

/* #social-buttons {
	padding: 30px;
	font-size: 200%;
} */

a {
	text-decoration: none;
}


#box-projects {
	padding: 50px;
}

.badge.badge-skill {
	background-color: #dce3e8;
}

img.avator {
	border: 3px solid #fff;
	border-radius: 50%;
	width: 37%;
	height: auto;
}

.social-link{
	color: #fff;
	font-size: 2rem;
}

.social-link:hover {
	color: rgba(255, 255, 255, 0.774);
}

.card.project-card {
	border: none;
}

.card.project-card img {
	border-radius: 1rem;
	box-shadow: 5px 2.5px 2.5px rgb(223, 222, 222);
}

.break {
	width: 75px;
	height: 2px;
	background-color: #cdd6dc;
	margin: 1.5rem 0;
}

a.project-btn {
	color: #fff;
	background-color: rgb(31, 46, 60);
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0.7rem 1.5rem;
	transition-duration: 0.35s;
}